# URL of the database to connect to. This is used by Drizzle ORM to connect to your database.
DATABASE_URL=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# url for better auth. This should be the url of your site
PUBLIC_BETTER_AUTH_URL=""
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
#url for your site.
ORIGIN=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
DATABASE_CERT=""
# set to true if you are running in development mode. This will disable some security features but will make it easier to develop your application. Set to false in production.
IS_DEV=""