@import url("$lib/css/app.css");

.menu {
	@mixin grid-center;

	align-self: center;
	text-align: center;
	position: relative;
	max-height: min-content;
	min-height: fit-content;
	padding: 2rem 1rem;
}

.min-h-screen {
	min-height: 100vh;

}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block flex;
	flex-direction: column;

	@mixin gap 4;

	align-items: center;
}

.menu li {
	width: 100%;
	max-width: 20rem;
}

.main-home {
	min-height: 16rem;
	padding-bottom: 5rem;
}

@media (width <= 640px) {
	.menu {
		padding: 1rem 0.5rem;
	}

	.menu li {
		max-width: 16rem;
	}
}





.link-item {
	background-color: oklch(20.77% 0.0398 265.75deg);
	color: var(--default-text-color);
	text-align: center;
	border: 1px solid var(--border-color);

	&:hover {
		background-color: var(--default-bg-color);
	}

	a {
		text-decoration: none;
		font-weight: 500;
		display: block flow;
	}

	a:hover {
		color: var(--default-text-color);
	}
}

.text-item {
	@mixin small-button;

	background-color: var(--default-bg-color);
	font-weight: 600;
	font-size: 1.125rem;
}

.main-content {
	@mixin grid-center;
	@mixin padding 4;

	min-height: 100vh;
	padding-right: 1.5rem;
	padding-left: 1.5rem;

}

.main-section {
	@mixin grid-stack;
	@mixin padding 4;
	@mixin gap 4;

	text-align: center;
}

.main-header {
	font-weight: 600;
	font-size: var(--text-3xl);
}

.text-center {
	text-align: center;
}

.stacker {
	@mixin grid-auto-fit-columns;
	@mixin grid-center-x;
	@mixin grid-center-y;
	@mixin gap 3;
}

/* 
draws a box around the element with a border and padding
*/
.drawbox {
	@mixin padding 4;

	border: 1px solid var(--border-color);
}